.container{
    background-color: rgb(159, 202, 240);
    height: 80vh;
    width: 30vw;
}

.box{
    background-color: aqua;
    width: 34vw;
    height: 45vh;
    /* animation: identifier;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-delay: 3s;
    animation-direction: alternate-reverse;
    animation-play-state: paused; */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: identifier 3s ease-in-out 2s 1 backwards;
}

@keyframes identifier {
    from{
        /* transform: translateX(10px); */
        background-color: red;
    }
    to{
        transform: translateX(1000px);
        background-color: yellow;
    }
}

/* img{
    filter: brightness(100%) contrast(100%) blur(34%);
} */

/* * {
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: linear-gradient(
        90deg,
        rgba(118, 113, 191, 1)0%,
        rgba(21, 21, 92, 1)50%,
        rgba(118, 113, 191, 1)100%,
        );
} */
