li.html{
    background-color: teal !important;
    color: azure;
}
li{
    background-color: green!important;
    color: azure;
}li{
    background-color: orange !important;
    color: azure;
}
#html#html{
    background-color: aquamarine ;
}
#html{
    background-color: blue;
}

.html{
    background-color: red;
}
li {
    background-color: green;
}
li {
    background-color: orange;
}
li{
    background-color: teal;
    color: azure;
}
#html{
    background-color: orange
}
  .html{
    background-color: red;
}
li {
    background-color: green;
}
li {
    background-color: orange;
}


