/* #html#html{
    background-color: aquamarine;
}
#html{
    background-color: blue;
}
  .html{
    background-color: red;
}
li {
    background-color: green;
}
li {
    background-color: orange;
}
li{
    background-color: teal;
    color: azure;
}
#html{
    background-color: orange
}
  .html{
    background-color: red;
}
li {
    background-color: green;
}
li {
    background-color: orange;
}
li{
    background-color: teal;
    color: azure;
} */


