body{
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.box{
    width: 200px;
    height: 200px;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 8px;
    color: white;
    margin-bottom: -100px;
}

.first-container {
    background-color: hotpink;
    box-shadow: 0 5px 16px;
}

.second-container{
    background-color: aqua;
    margin-left: 2rem;
}

.red-box{
    background-color: red;
    position: relative;
}

.green-box{
    background-color: green;
    margin-left: 2rem;
    position: relative;
}

.blue-box {
    background-color: blue;
    margin-left: 3rem ;
    position: relative;
    /* z-index: -1; */
}